<?xml version="1.0" encoding="UTF-8"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/trunk/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Rybbit configuration</title>
        <title lang="de-DE">Rybbit Konfiguration</title>

        <input-field type="bool">
            <name>rybbitActive</name>
            <defaultValue>false</defaultValue>
            <label>Active</label>
            <label lang="de-DE">Aktiv</label>
        </input-field>

        <input-field type="text">
            <name>rybbitSrc</name>
            <defaultValue>https://app.rybbit.io/api/script.js</defaultValue>
            <label>Rybbit source url:</label>
            <label lang="de-DE">Rybbit URL:</label>
        </input-field>

        <input-field type="text">
            <name>rybbitDataSiteId</name>
            <label>Site ID:</label>
            <label lang="de-DE">Seiten ID:</label>
        </input-field>
    </card>

</config>
